<!DOCTYPE html>

<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Your workout history</h1>

    {% if sessions %}
    <ul>
        {% for session in sessions %}
            <h3>Session at {{ session.time }}</h3>
            {% if session.workouts %}
                <ul>
                    {% for workout in session.workouts %}
                        {{ workout.sets }} sets of {{ workout.title }} | top set: {{ workout.weight }} kg <br>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No workouts recorded for this session.</p>
            {% endif %}
            <br>
            <form action="/delete_session" method="POST">
                <input type="hidden" name="session_id" value="{{ session.id }}">
                <button type="submit">Delete Session</button>
            </form>
        {% endfor %}

    </ul>
    {% else %}
        <p>No workout sessions found.</p>
    {% endif %}   

    <a href="/">
        <button>Home</button>
    </a>
</body>
</html>