<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etusivu</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="container">
    <div class="box">
    <img src="/static/otso_logo.png" alt="logo" style="width: 20%; height: auto; align-items: center;"/>
    </div>
    <br/>
    <div class="box">
    <img src="/static/otso_head.png" alt="description" style="width: 10%; height: auto;">
    </div>

    {%if session.username%}
        <p>Welcome {{ session.username }}!</p>
        
        <p><a href="/session">Begin a workout</a></p>

        <p><a href="/history">Workout history</a></p>

        <p><a href="/feed">Body Dysmorphia Feed</a></p>

        <p><a href="/logout">Log out!</a></p>
    {% else %}

    <form action="/login" method="post">
        <p>
            <input type="text" class="input" name="username" placeholder="user"/>
        </p>
        <p>
            <input type="password" class="input" name="password" placeholder="pass"/>
        </p>
        <p>
            <input type="submit" class="button" value="login" />
        </p>
    </form>
    
    <form action="/register" method="post">
        <p>
            <input type="submit" class="button" value="sign-in" />
        </p>
    </form>
    
    {% endif %}
    </div>
</body>

</html>