<!DOCTYPE html>

<html>
<head>
    <title>Etusivu</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="header">
    <h1>OTSØ</h1>
    </div>
    {%if session.username%}
        <img src="/static/smile.jpg" />
        <p>Welcome {{ session.username }}!</p>
        
        <p><a href="/session">Begin a workout</a></p>

        <p><a href="/history">Workout history</a></p>

        <p><a href="/feed">Body Dysmorphia Feed</a></p>

        <p><a href="/logout">Log out!</a></p>
    {% else %}

    <form action="/login" method="post">
        <p>
        <input type="text" class="input" name="username" placeholder="user"/>
        </p>
        <p>
        <input type="password" class="input" name="password" placeholder="pass"/>
        </p>
        <input type="submit" class="button" value="login" />
    </form>
    <br/>
    <form action="/register" method="post">
        <input type="submit" class="button" style="margin: 2em 0;" value="sign-in" align="bottom"/>
    </form>

    
    {% endif %}
</body>

</html>