<!DOCTYPE html>

<html>
<head>
    <title>Etusivu</title>
</head>

<body>
    <h1>Get strong!</h1>
    {%if session.username%}
        <img src="/static/smile.jpg" />
        <p>Welcome {{ session.username }}!</p>
        
        <p><a href="/session">Begin a workout</a></p>

        <p><a href="/history">Workout history</a></p>

        <p><a href="/feed">Body Dysmorphia Feed</a></p>

        <p><a href="/logout">Log out!</a></p>
    {% else %}

    <form action="/register" method="post">
        Sign-in here you crazy animal! <br />
        <input type="submit" value="OK boss!" />
    </form>

    <form action="/login" method="post">
        <p>
        Log-in here you wild thing! <br />
        <br />
        Username: <br />
        <input type="text" name="username" />
        </p>
        <p>
        Password: <br />
        <input type="password" name="password" />
        </p>
        <input type="submit" value="login" />
    </form>
    {% endif %}
</body>

</html>