<!DOCTYPE html>

<html>
    <head>
        <title>Register here!</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <div class="container">
        <form action="/create" method="post">
            <p>

                <input type="text" class="input" name="username" placeholder="Username" required />
            </p>
            <p>   
                <input type="password" class="input" name="password" placeholder="Password" required />
            </p>
            <p>
                <input type="password" class="input" name="repeat password" placeholder="Repeat Password" required />
            </p>
            <input type="submit" class="button" value="Create user" /> 
        </form>

        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}

        <a href="/" class="form">
            <button class="button">Home</button>
        </a>
        </div>
    </body>
</html>