<!DOCTYPE html>

<html>
    <head>
        <title>Register here!</title>
    </head>

    <body>
        <form action="/create" method="post">
            <p>
                Username, max. 16 characters: <br />
                <input type="text" name="username" required />
            </p>
            <p>
                Password: <br />
                <input type="password" name="password" required />
            </p>
            <p>
                Password again: <br />
                <input type="password" name="repeat password" required />
            </p>
            <input type="submit" value="Create user" /> 
        </form>

        {% for message in get_flashed_messages() %}
        <p>
            <b>{{ message }}</b>
        </p>
        {% endfor %}

        <a href="/">
            <button>Home</button>
        </a>

    </body>
</html>