


<!DOCTYPE html>
<html>
<head>
    <title>workout session</title>
</head>

<body>
    <h2>Select exercises</h2>
    <form action="/create-workout" method="POST">
    {% for exercise in exercises %}
    <p>
        <a href="/exercise/{{ exercise.id }}">{{ exercise.title }}</a>
        <br />
        <a href="{{ exercise.link }}">Guide</a>
        <br />
        <input type="checkbox" id="exercise_{{ exercise.id }}" name="exercises" value="{{ exercise.id }}">
        <label for="exercise_{{ exercise.id }}">{{ exercise.title }}</label> 
    </p>
    <hr />
    {% endfor %}
    <p> 
        <input type="submit" value="Begin workout!">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </p>
    </form>
</body>