<!DOCTYPE html>
<html>
<head>
    <title>Workout Saved</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
    <h1>Workout session saved successfully!</h1>

    <a href="/session">
        <button class="button">Log another session</button>
    </a>
    <a href="/history">
        <button class="button">View workout history</button>
    </a>
    <a href="/">
        <button class="button">Home</button>
    </a>
    <input type="hidden" name="session_id" value="{{ session.id }}">
    </div>
</body>
</html>