<!DOCTYPE html>

<html>
<head>
    <title>Exercise</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="container">
    <h2>Log your workout</h2>

    <form action="/workout" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        
        {% for exercise in exercises %}
        <input type="hidden" name="exercise_ids[]" value="{{ exercise.id }}">
            <p>{{ exercise.title }}:</p>
            {% for i in range(set_count) %}
                <div>
                    <input type="number" class="input" name="reps[{{ exercise.id }}][]" min="1" value="5" required/> reps
                    <input type="number" class="input" name="weight[{{ exercise.id }}][]" min="0" value="20" required/> kg
                </div>
                <br/>
            {% endfor %}
            <br/>

            <hr/>
        {% endfor %} 
        <button type="submit" class="button" name="save">Save session to history</button>
    </form>
    </div>
</body>
</html>