<!DOCTYPE html>

<html>
<head>
    <title>Exercise</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h2>Log your workout</h2>

    <form action="/workout" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        {% for exercise in exercises %}
            <p>{{ exercise.title }}:</p>
            {% for i in range(set_count) %}
                <div>
                    <!-- <input type="number" name<="sets[{{ exercise.id }}]" min="1" value="3"/> Sets-->
                    <input type="number" name="reps[{{ exercise.id }}][]" min="1" value="5" required/> reps
                    <input type="number" name="weight[{{ exercise.id }}][]" min="0" value="20" required/> kg
                    
                    <!-- <input type="hidden" name="exercise" value="{{ exercise.id }}"/> -->
                </div>
                <br/>
            {% endfor %}
            <br/>
            <!-- <input type="button" name="Add set[{{ exercise.id }}]" value="Add set"/> -->
            <input type="hidden" name="exercise_ids[]" value="{{ exercise.id }}"/> 
            <input type="hidden" name="set_count" value="{{ set_count }}">
            <button type="submit" name="add_set">Add Set</button>
            
            <hr/>
        {% endfor %} 
        <button type="submit" name="finish">End Workout!</button>
    </form>
</body>
</html>